<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de lockers por tipo</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<h1>Listado de lockers</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Seleccionado</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="locker : ${lockers}">
        <td th:text="${locker.id}"></td>
        <td th:text="${locker.descripcion}"></td>
        <td th:text="${locker.seleccionado}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
